.container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  text-align: center;
}

.head {
  background: linear-gradient(135deg,#ecfdf5,#f8fafc);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.head h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1d3557;
  margin-bottom: 10px;
}

.head p {
  font-size: 15px;
  font-weight: 500;
  color: #555;
}

.home-cards {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 40px;
}

.home-card {
  width: 330px;
  background: #fff;
  padding: 28px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}


.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

/* Green box */
.green {
  background: #b6f7c9;
}

.green svg {
  color: #0a6b2a;
}

/* Blue box */
.blue {
  background: #dce8ff;
}

.blue svg {
  color: #0053d6;
}

.home-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1d3557;
  margin-bottom: 10px;
}

.home-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.submit-btn {
  background: #0b63ff;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.submit-btn:hover {
  background: #084dcc;
}

.view-btn {
  background: #fff;
  color: #0b63ff;
  border: 1px solid #0b63ff;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.view-btn:hover {
  background: #e9f1ff;
}
